body {
    background-color: rgb(62, 149, 177);
  }
  
  h1 {
    color: rgb(39, 215, 115);
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }
  a {
    text-align: center;
  }